<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/nav')%>
    <form action="/" method="post">
    <label for ="title"> Title of the movie:</label>
    <input type = "text" name="title" id="title"required>

    <label for ="story">Plot of the movie:</label>
    <textarea name="story" id="story" rows="5" cols="33">
    </textarea>

    <input type="submit" value ="Add movie">
    </form>
    <h3> Movies</h3>
    <article>
        <% for (let index=0; index < data.length; index++) { %>
            <h2><%= data[index].title %></h2>
            <p><%= data[index].story %></p> <% } %>
 
    </article>

    

    

    <script src="script.js"></script>
</body>
</html>