<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantheon</title>
    <link rel="stylesheet" href="style.css">
</head>


<body class="loginBody">
    <header>
        <img src="./svg/logopantheon.svg">
    </header>
    <h1 >Welcome to Pantheon!</h1>
    <form class="form">
        <a href="/login" class="indexButton">Login</a>
        <a href="/register" class="indexButton">Create an account</a>
    </form>
</body>

</html>