<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>

<body class="loginBody">
    <header>
        <img src="./svg/logopantheon.svg">
    </header>

    <h1>
        Welcome to Pantheon!
    </h1>
    <p>
        Please login to your Pantheon account.
    </p>
    <form action="/login" method="POST" class="form">
        <input type="text" name="username" placeholder="Username" required
            value="<%= typeof username !== 'undefined' ? username : '' %>">
        <input type="password" name="password" placeholder="Password" required
            value="<%= typeof password !== 'undefined' ? password : '' %>">

        <% if (typeof errors !=='undefined' && errors.length> 0) { %>
            <div style="color: white;">
                <% errors.forEach(error=> { %>
                    <p>
                        <%= error.msg %>
                    </p>
                    <% }) %>
            </div>
            <% } %>

                <input type="submit" value="login">
                <a href="/register"> <!-- De URL "/register" moet overeenkomen met de route die is ingesteld voor de registerpagina -->
                    <button class="indexButton" id="showSecondPartButton" type="button">Create Account</button>
                </a>
                
    </form>
</body>

</html>